*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -----------------navbar--------------------- */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #001F3F;
    padding-left: 100px;
    padding-right: 100px;
    height: 90px;
}
.list{
    display: flex;
    padding: 20px;
}
li{
    padding: 10px 20px;
    list-style-type: none;
    color: #8D8D8D;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.home{
    color: #fff;
}
.contactlink{
    text-decoration: none;
    color: #fff;
    background-color: #00A6FB;
    width: 133px;
    height: 33px;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 6px;
}
.logo{
    width: 126px;
    height: 39px;
    padding-top: 20px;
}
/* -----------------section1--------------------- */
.sec1{
    padding-left: 100px;
    padding-right: 100px;
    background-image: url('../longboat/Image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    height: 75vh;
}
.part1{
    position: relative;
    top: 80px;
}
.t1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}
.p1{
    padding-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.part2{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
}
.cart{
    margin: 30px;
    background-color: #001F3F;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.rec1{
    width: 295px;
    height: 143px;
}
.t2{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #fff;
}
/* -----------------section2--------------------- */
.sec2{
    background-color: #001F3F;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    height: 60vh;
}
.t3{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #fff;
}
.carda{
    display: flex;
    justify-content: space-between;
}
.card{
    position: relative;
    top: 50px;
    width: 33%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #001B37;
    padding: 25px;
    border-radius: 18px;
    border: solid 1px rgba(128, 128, 128, 0.423);
}
.psc2{
    display: flex;
}
.txt{
    padding-left: 20px;
    color: #fff;
}
.t4{
    font-size: 18px;
    font-weight: 700;
}
.t5{
    font-size: 14px;
    font-weight: 300;
    color: #D9D9D9;
}
.para3{
    padding-top: 10px;
    height: 170px;
    font-weight: 400;
    color: #8D8D8D;
}
/* -----------------section3--------------------- */
.sec3{
    background-color: #BCD1E7;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    height: 40vh;
}
.twop{
    display: flex;
    justify-content: space-between;
}
.t6{
    font-weight: 700;
    font-size: 50px;
}
.para4{
    padding-top: 10px;
    height: 170px;
    font-weight: 400;
    color: #8D8D8D;
    padding-top: 20px;
}
.img1{
    width: 480px;
    height: 270px;
}
/* -----------------section4--------------------- */
.sec4{
    background-color: #001F3F;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    height: 75vh;
}
.twop1{
    display: flex;
    position: relative;
    left: 50px;
}
.img2{
    width: 850px;
    height: 600px;
}
.txt3{
    background-color: #00A6FB;
    width: 470px;
    height: 480px;
    z-index: 3;
    position: relative;
    right: 150px;
    top: 40px;
}
.t7{
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 20px;
}
.para5{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
}
.btn1{
    color: #2947A9;
    background-color: #fff;
    width: 160px;
    height: 45px;
    font-weight: 700;
    font-size: 13px;
    border-radius: 6px;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
}
/* -----------------section5--------------------- */
.sec5{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    height: 40vh;
}
.twop2{
    display: flex;
}
.txt4{
    background-color: #fff;
    padding-left: 50px;
}
.t8{
    color: #001F3F;
    font-weight: 700;
    font-size: 40px;
}
.para6{
    color: #6A6A6A;
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}
.img3{
    width: 520px;
    height: 350px;
    position: relative;
    left: 130px;
    bottom: 30px;
}
/* -----------------section6--------------------- */
.sec6{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #BCD1E7;
    height: 75vh;
}
.twop3{
    display: flex;
}
.img4{
    width: 500px;
    height: 500px;
}
.img5{
  padding-left: 100px;
  padding-top: 100px;
}
form{
    display: block;
    padding-top: 10px;
}
input{
    display: block;
    margin-left: 100px;
    width: 600px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    padding-left: 20px;
}
.mess{
    display: block;
    margin-left: 100px;
    width: 600px;
    height: 100px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    padding-left: 20px;
}
.sub{
    display: block;
    margin-left: 100px;
    width: 620px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background-color: #00A6FB;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
/* -----------------section7--------------------- */
footer{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #001F3F;
}
.dvv{
    display: flex;
    justify-content: space-between;
}
.img6{
    padding-left: 30px;
}
.img7{
    display: block;
    padding-top: 15px;
}
.img0{
    position: relative;
    left: 500px;
    top: 50px;
    padding-bottom: 10px;
}
